.App {
  text-align: center;
}

.ui.grid {
  margin: 0px !important;
}

.ui.grid>.row {
  padding: 0px !important;
}

.ui.input {
  width: 100%;
}

.ui.selection.dropdown {
  width: 100%;
}

div.section {
  margin-bottom: 30px;
}

p {
  margin-bottom: 4px !important;
}

img.icon {
  height: 24px;
}