.App {
  text-align: center;
  /* font-family: "Arial" !important; */
}

h1, h2, h3, h4, h5 {
  font-family: "Helvetica" !important;
}

.ui.grid {
  margin: 0px !important;
}

.ui.grid>.row {
  padding: 0px !important;
}

.ui.input {
  width: 100%;
}

.ui.selection.dropdown {
  width: 100%;
}

div.section {
  margin-bottom: 30px;
}

p {
  margin-bottom: 4px !important;
}

img.icon {
  height: 24px;
}